

body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #FF33DD;
}

.quem-somos{
    background-color: #33FF3C;
    color:black;
}

.idealizadores{
    background-color: #FF33DD;
    color:black;
}

.nosso-time{
    background-color: #33FF3C;   
    color: black;
} 

.parceiros{
    background-color: #FF33DD;
    color: black;
}

.historias{
    background-color: #33FF3C;   
    color: black;
}

.galeria{
    background-color: #FF33DD;   
    color: black;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

div {
    display: block;
}

.footer{
    background-color: #33FF3C;
    color:black;
    display: block;
}
