
body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #FF33DD;
}

.quem-somos{
    background-color: #33FF3C;
    color:black;
}

.nosso-time{
    background-color: #FF33DD;   
    color: black;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #33FF3C;
    color: black;
}

.bg-footer{
    background-color: black;
    color: white;
}
